#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #363d41;
}

/* Product.css */

.product-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  color: black;
}

.product-card {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  height: auto;
  text-align: center; /* Center align the content */
  overflow: hidden;
}

.product-card img {
  width: 120px;
  height: 200px; 
  object-fit: cover; /* Ensure the image covers the specified dimensions */
  border-radius: 5px;
}

.product-details {
  margin-top: 10px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  padding-right: 130px;

}

.product-price {
  font-size: 16px;
  color: #148506;
  padding-right: 140px;
  
}


/* button add to cart */
.btn {
  --color: #00A97F;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 100;
  margin-left: 150px;
  text-transform: uppercase;
  color: var(--color);
 }
 
 .btn::after, .btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 .btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .btn:hover {
  color: var(--color2);
 }
 
 .btn:active {
  filter: brightness(.7);
  transform: scale(.98);
 }

 /* Footer */
 .card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
 }

 .h2{
  align-items: center;
 }

/* Navbar styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

a.active {
  font-weight: bold;
  /* Additional styles for active item */
}

/* Orders.css */

.orders-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
  gap: 20px;
}

.order-card {
  background-color: #2e2929;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.order-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.order-details {
  font-size: 14px;
}






